@font-face {
    font-family: 'Mirza';
    src: url('Mirza-Regular.woff2') format('woff2'),
        url('Mirza-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

