
<%- include('doctor_header') %>

    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-9">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Add Admin</h6>
                    <form method="post" action="/doctor/insertpatient">
                        <div class="row mb-3">
                            <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="firstname" placeholder="first name">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="lastname" placeholder="last name">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="email" placeholder="email">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Phone No.</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="phone" placeholder="phone no.">
                            </div>
                        </div>
                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" value="Male" type="radio" name="gender" checked> Male
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" value="Female" type="radio" name="gender"> Female
                                </div>
                            </div>
                        </fieldset>
                        <div class="row mb-3">
                            <label for="address" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <textarea name="address" class="form-control" placeholder="address" cols="30" rows="3"></textarea>
                            </div>
                        </div>
                        
                        <button style="margin-top: 30px; padding: 8px 30px;" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Form End -->

<%- include('doctor_footer') %>
