
<%- include('header') %>

    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-9">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Add Specialization</h6>
                    <form method="post" action="/admin/specialization/insertspecialization">
                        <div class="mb-3">
                            <label for="specialization" class="col-sm-4 col-form-label">Doctor Specialization</label>
                            <div class="col-sm-12 mb-4">
                                <input type="text" class="form-control" name="specialization" placeholder="specialization">
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Add Specialization</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Form End -->

<%- include('footer') %>
